@media only screen and (min-width: 992px) {

body {
text-align: center;

background-color:black;

}

H1,H2,H3,H4,H5,H6 {

COLOR:WHITE;
display: block;
padding:0;
margin:0;
text-align: center;

}


.kampanj {


background-color:white;
height:40px;
display: block;
width:100%;

}


#myTopnav {

display: none;

}

#myTopnav .icon {


    display: none;
}


.desktop {

background-color:#FFA500;
visibility: visible;

}

.desktop .icon {
display:none;

}


.desktop nav {

background-color:#fff;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
      background-color:#000;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }



}