@media only screen and (min-width: 350px) {

    .shortmessage {


        display:none;
          
            } 

body {
font-family:lato;
background-color:black;
margin:0px;
padding:0px;


}

.shopBtn {

    width: 200px;
    background-color: coral;
    color: white;
    display: block;
    margin: 0 auto;



}

.kampanj {
text-align:center;
background-color:white;
margin:0;
padding:0;
height:40px;

}


.kampanj span {
  font-size: 2.5vw;
  width: calc(37% - 19px);

  position: relative;
  top: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}


.desktop {

display: none;

}

.hamburgermenu {
margin:0;
padding:0;
visibility: visible;

}




.mobilrow .cartIcon {
top:41px;
right:48px;
  position:absolute;
/* float:left; */

}

.topnav {
  overflow: hidden;
  background-color: #333;
  /* position: relative; */
}

.topnav #myTopnav {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 41px;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
  height:20px;
} */

.active {
  background-color: #04AA6D;
  color: white;
}

.mobilrow .logopic {

width:35px;

}

.mobilrow {
  /* max-width: 480px; */
  margin: auto;
  background-color: #555;
 height:50px;
  color: white;
  /* border-radius: 10px; */
  display:grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  grid-template-areas: "searchicon topicon cart-icon" ;
}
.topSearchInMobile {
/* grid-area: searchicon;
float:left;
margin:0;
padding:0;
height:100%; */
left: 10px;
    grid-area: searchicon;
    position: absolute;
    /* float: left; */
    /* width: 291px; */
    margin: 0;
    padding: 0;
    /* height: 100%; */
    top: 55px;


}

.topSearchInput {
width:90px;
margin:0;
padding:0;
/* position:relative;
bottom:12px; */


}


main {


    text-align: center;
}

.productsInStartPage img {


width:200px;
height:290px;

}

.topSearchBtn {

    margin:0;
padding:0;
/* position:relative;
bottom:12px; */
}

.fa-shopping-cart {
color:black;
background-color:#FFA500;
padding:10px;

}

.topLogoIcon {

    align-self: center;
    text-align: center;
    /* position: relative; */
    grid-area: topicon;

}

.carticon {
grid-area: cart-icon;

    width: 25px;
}

}